BasedOnStyle: Google
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveDeclarations: None
AlignEscapedNewlines: DontAlign
AlignOperands: DontAlign
AlignTrailingComments: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: OnePerLine
BreakBeforeBinaryOperators: All
ColumnLimit: 80
PackConstructorInitializers: CurrentLine
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
DeriveLineEnding: false
DerivePointerAlignment: false
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<Windows\.h>$'
    Priority: 30
  - Regex: '^<Unknwn\.h>'
    Priority: 30
  - Regex: '^<Psapi\.h>'
    Priority: 30
    SortPriority: 31
  - Regex: '^<winrt/.+'
    Priority: 32
    SortPriority: 32
  - Regex: '^<ppl[a-z]+\.h>'
    Priority: 33
  - Regex: '^<winrt/.+'
    Priority: 35
  - Regex: '^<wil/.+'
    Priority: 36
  - Regex: '^<(windows|microsoft)\..+\.h>$' # Usually interop headers, e.g. windows.data.pdf.interop
    Priority: 37
  - Regex: '^<[a-z_]+/.+\.h(pp)?>$'
    Priority: 999
    SortPriority: 41
  - Regex: '^<[a-z_/]+>$'
    Priority: 42
    CaseSensitive: true
  - Regex: '^<[a-z0-9_]+\.h>$'
    Priority: 43
IndentWidth: 2
MaxEmptyLinesToKeep: 1
PointerAlignment: Left
ReflowComments: true
SpaceBeforeCpp11BracedList: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeRangeBasedForLoopColon: false
SpacesBeforeTrailingComments: 0
Standard: c++20
TabWidth: 2
LineEnding: LF
UseCRLF: false
UseTab: Never
