name: Build
on:
  workflow_call:
    outputs:
      version:
        description: The built version
        value: ${{jobs.build.outputs.version}}
jobs:
  build:
    name: build/${{matrix.arch}}/${{matrix.preset}}
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
          fetch-depth: 0
      - name: Setup environment
        uses: ./.github/actions/configure-environment
        with:
          arch: ${{matrix.arch}}
          github_token: ${{secrets.GITHUB_TOKEN}}
      - name: Make build directory
        run: cmake -E make_directory build
      - name: Configure
        working-directory: build
        id: configure
        run: |
          $args = @()

          cmake .. `
            --preset "${{matrix.preset}}" `
            -DVCPKG_TARGET_TRIPLET=${{matrix.arch}}-windows-static `
            "-DSOURCELINK=https://raw.githubusercontent.com/${{github.repository}}/${{github.sha}}" `
            @args
          
          Add-Content $Env:GITHUB_OUTPUT "version=$(Get-Content version.txt)"
        shell: pwsh
      - name: Compile
        working-directory: build
        run: cmake --build . --parallel --verbose
      - name: Upload Executable Artifacts
        uses: actions/upload-artifact@v6
        if: ${{ matrix.preset == 'Release' }}
        with:
          name: "intermediate-${{matrix.arch}}"
          path: build/out
    outputs:
      version: ${{steps.configure.outputs.version}}
    strategy:
      fail-fast: false
      matrix:
        arch: [x86, x64]
        preset:
          - Debug - default
          - Debug - clang-cl
          - Release
        exclude:
          - arch: x86
            preset: Debug - clang-cl
  package:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v6
        with:
          path: artifacts
          pattern: intermediate-*
      - name: Stage
        run: |
          mkdir staging
          # Duplicates are expected; x64 takes priority
          for arch in x86 x64; do
            dir="artifacts/intermediate-$arch"
            rsync -av "$dir/" staging/
          done
      - name: Upload binaries
        uses: actions/upload-artifact@v6
        with:
          name: "OpenXR-API-Layers-GUI-v${{needs.build.outputs.version}}"
          path: staging/bin
      - name: Upload debug symbols
        uses: actions/upload-artifact@v6
        with:
          name: "OpenXR-API-Layers-GUI-DebugSymbols-v${{needs.build.outputs.version}}"
          path: staging/pdb
